<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="cambpm"
                      transaction-type="RESOURCE_LOCAL">
        <class>vn.tki.erp.cambpm.entity.BpmProcessDefinition</class>
        <class>vn.tki.erp.cambpm.entity.BpmProcessDefinitionEntity</class>
        <class>vn.tki.erp.cambpm.entity.BpmTaskList</class>
        <class>vn.tki.erp.cambpm.entity.BpmTaskListFilter</class>
        <class>vn.tki.erp.cambpm.entity.BpmProcessDefinitionGroup</class>
        <class>vn.tki.erp.cambpm.entity.NewEntity</class>
    </persistence-unit>
</persistence>
